<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPreguntaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPreguntaEmpty}" rendered="#{preguntaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{preguntaController.items.rowCount > 0}">
                    <h:outputText value="#{preguntaController.pagination.pageFirstItem + 1}..#{preguntaController.pagination.pageLastItem + 1}/#{preguntaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{preguntaController.previous}" value="#{bundle.Previous} #{preguntaController.pagination.pageSize}" rendered="#{preguntaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{preguntaController.next}" value="#{bundle.Next} #{preguntaController.pagination.pageSize}" rendered="#{preguntaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{preguntaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPreguntaTitle_idPregunta}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPregunta}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPreguntaTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{preguntaController.prepareView}" value="#{bundle.ListPreguntaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{preguntaController.prepareEdit}" value="#{bundle.ListPreguntaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{preguntaController.destroy}" value="#{bundle.ListPreguntaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{preguntaController.prepareCreate}" value="#{bundle.ListPreguntaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPreguntaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
