<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateOpcionesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateOpcionesLabel_idOpciones}" for="idOpciones" />
                    <h:inputText id="idOpciones" value="#{opcionesController.selected.idOpciones}" title="#{bundle.CreateOpcionesTitle_idOpciones}" required="true" requiredMessage="#{bundle.CreateOpcionesRequiredMessage_idOpciones}"/>
                    <h:outputLabel value="#{bundle.CreateOpcionesLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{opcionesController.selected.descripcion}" title="#{bundle.CreateOpcionesTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateOpcionesRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.CreateOpcionesLabel_correcta}" for="correcta" />
                    <h:inputText id="correcta" value="#{opcionesController.selected.correcta}" title="#{bundle.CreateOpcionesTitle_correcta}" required="true" requiredMessage="#{bundle.CreateOpcionesRequiredMessage_correcta}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{opcionesController.create}" value="#{bundle.CreateOpcionesSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{opcionesController.prepareList}" value="#{bundle.CreateOpcionesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateOpcionesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
