<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListOpcionesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListOpcionesEmpty}" rendered="#{opcionesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{opcionesController.items.rowCount > 0}">
                    <h:outputText value="#{opcionesController.pagination.pageFirstItem + 1}..#{opcionesController.pagination.pageLastItem + 1}/#{opcionesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{opcionesController.previous}" value="#{bundle.Previous} #{opcionesController.pagination.pageSize}" rendered="#{opcionesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{opcionesController.next}" value="#{bundle.Next} #{opcionesController.pagination.pageSize}" rendered="#{opcionesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{opcionesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOpcionesTitle_idOpciones}"/>
                            </f:facet>
                            <h:outputText value="#{item.idOpciones}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOpcionesTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOpcionesTitle_correcta}"/>
                            </f:facet>
                            <h:outputText value="#{item.correcta}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{opcionesController.prepareView}" value="#{bundle.ListOpcionesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{opcionesController.prepareEdit}" value="#{bundle.ListOpcionesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{opcionesController.destroy}" value="#{bundle.ListOpcionesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{opcionesController.prepareCreate}" value="#{bundle.ListOpcionesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListOpcionesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
