<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewOpcionesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewOpcionesLabel_idOpciones}"/>
                    <h:outputText value="#{opcionesController.selected.idOpciones}" title="#{bundle.ViewOpcionesTitle_idOpciones}"/>
                    <h:outputText value="#{bundle.ViewOpcionesLabel_descripcion}"/>
                    <h:outputText value="#{opcionesController.selected.descripcion}" title="#{bundle.ViewOpcionesTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewOpcionesLabel_correcta}"/>
                    <h:outputText value="#{opcionesController.selected.correcta}" title="#{bundle.ViewOpcionesTitle_correcta}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{opcionesController.destroyAndView}" value="#{bundle.ViewOpcionesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewOpcionesEditLink}"/>
                <br />
                <h:commandLink action="#{opcionesController.prepareCreate}" value="#{bundle.ViewOpcionesCreateLink}" />
                <br />
                <h:commandLink action="#{opcionesController.prepareList}" value="#{bundle.ViewOpcionesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewOpcionesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
