<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCursoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCursoLabel_cursoPK_idCurso}" for="cursoPK_idCurso" />
                    <h:inputText id="cursoPK_idCurso" value="#{cursoController.selected.cursoPK.idCurso}" title="#{bundle.CreateCursoTitle_cursoPK_idCurso}" required="true" requiredMessage="#{bundle.CreateCursoRequiredMessage_cursoPK_idCurso}"/>
                    <h:outputLabel value="#{bundle.CreateCursoLabel_cursoPK_estudianteidEstudiante}" for="cursoPK_estudianteidEstudiante" />
                    <h:inputText id="cursoPK_estudianteidEstudiante" value="#{cursoController.selected.cursoPK.estudianteidEstudiante}" title="#{bundle.CreateCursoTitle_cursoPK_estudianteidEstudiante}" required="true" requiredMessage="#{bundle.CreateCursoRequiredMessage_cursoPK_estudianteidEstudiante}"/>
                    <h:outputLabel value="#{bundle.CreateCursoLabel_curso}" for="curso" />
                    <h:inputText id="curso" value="#{cursoController.selected.curso}" title="#{bundle.CreateCursoTitle_curso}" required="true" requiredMessage="#{bundle.CreateCursoRequiredMessage_curso}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cursoController.create}" value="#{bundle.CreateCursoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{cursoController.prepareList}" value="#{bundle.CreateCursoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCursoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
