<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCursoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCursoLabel_cursoPK_idCurso}"/>
                    <h:outputText value="#{cursoController.selected.cursoPK.idCurso}" title="#{bundle.ViewCursoTitle_cursoPK_idCurso}"/>
                    <h:outputText value="#{bundle.ViewCursoLabel_cursoPK_estudianteidEstudiante}"/>
                    <h:outputText value="#{cursoController.selected.cursoPK.estudianteidEstudiante}" title="#{bundle.ViewCursoTitle_cursoPK_estudianteidEstudiante}"/>
                    <h:outputText value="#{bundle.ViewCursoLabel_curso}"/>
                    <h:outputText value="#{cursoController.selected.curso}" title="#{bundle.ViewCursoTitle_curso}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cursoController.destroyAndView}" value="#{bundle.ViewCursoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCursoEditLink}"/>
                <br />
                <h:commandLink action="#{cursoController.prepareCreate}" value="#{bundle.ViewCursoCreateLink}" />
                <br />
                <h:commandLink action="#{cursoController.prepareList}" value="#{bundle.ViewCursoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCursoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
