<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTemaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTemaLabel_idTablaTema}" for="idTablaTema" />
                    <h:inputText id="idTablaTema" value="#{temaController.selected.idTablaTema}" title="#{bundle.EditTemaTitle_idTablaTema}" required="true" requiredMessage="#{bundle.EditTemaRequiredMessage_idTablaTema}"/>
                    <h:outputLabel value="#{bundle.EditTemaLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{temaController.selected.descripcion}" title="#{bundle.EditTemaTitle_descripcion}" required="true" requiredMessage="#{bundle.EditTemaRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.EditTemaLabel_nombretema}" for="nombretema" />
                    <h:inputText id="nombretema" value="#{temaController.selected.nombretema}" title="#{bundle.EditTemaTitle_nombretema}" required="true" requiredMessage="#{bundle.EditTemaRequiredMessage_nombretema}"/>
                </h:panelGrid>
                <h:commandLink action="#{temaController.update}" value="#{bundle.EditTemaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTemaViewLink}"/>
                <br />
                <h:commandLink action="#{temaController.prepareList}" value="#{bundle.EditTemaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTemaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
