<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTemaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTemaEmpty}" rendered="#{temaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{temaController.items.rowCount > 0}">
                    <h:outputText value="#{temaController.pagination.pageFirstItem + 1}..#{temaController.pagination.pageLastItem + 1}/#{temaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{temaController.previous}" value="#{bundle.Previous} #{temaController.pagination.pageSize}" rendered="#{temaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{temaController.next}" value="#{bundle.Next} #{temaController.pagination.pageSize}" rendered="#{temaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{temaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTemaTitle_idTablaTema}"/>
                            </f:facet>
                            <h:outputText value="#{item.idTablaTema}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTemaTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTemaTitle_nombretema}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombretema}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{temaController.prepareView}" value="#{bundle.ListTemaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{temaController.prepareEdit}" value="#{bundle.ListTemaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{temaController.destroy}" value="#{bundle.ListTemaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{temaController.prepareCreate}" value="#{bundle.ListTemaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTemaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
