<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTemaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTemaLabel_idTablaTema}"/>
                    <h:outputText value="#{temaController.selected.idTablaTema}" title="#{bundle.ViewTemaTitle_idTablaTema}"/>
                    <h:outputText value="#{bundle.ViewTemaLabel_descripcion}"/>
                    <h:outputText value="#{temaController.selected.descripcion}" title="#{bundle.ViewTemaTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewTemaLabel_nombretema}"/>
                    <h:outputText value="#{temaController.selected.nombretema}" title="#{bundle.ViewTemaTitle_nombretema}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{temaController.destroyAndView}" value="#{bundle.ViewTemaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTemaEditLink}"/>
                <br />
                <h:commandLink action="#{temaController.prepareCreate}" value="#{bundle.ViewTemaCreateLink}" />
                <br />
                <h:commandLink action="#{temaController.prepareList}" value="#{bundle.ViewTemaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTemaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
