<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateProfesorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_idProfesor}" for="idProfesor" />
                    <h:inputText id="idProfesor" value="#{profesorController.selected.idProfesor}" title="#{bundle.CreateProfesorTitle_idProfesor}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_idProfesor}"/>
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_nombres}" for="nombres" />
                    <h:inputText id="nombres" value="#{profesorController.selected.nombres}" title="#{bundle.CreateProfesorTitle_nombres}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_nombres}"/>
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{profesorController.selected.apellidos}" title="#{bundle.CreateProfesorTitle_apellidos}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_apellidos}"/>
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_i}" for="i" />
                    <h:inputText id="i" value="#{profesorController.selected.i}" title="#{bundle.CreateProfesorTitle_i}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_i}"/>
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{profesorController.selected.direccion}" title="#{bundle.CreateProfesorTitle_direccion}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_direccion}"/>
                    <h:outputLabel value="#{bundle.CreateProfesorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{profesorController.selected.email}" title="#{bundle.CreateProfesorTitle_email}" required="true" requiredMessage="#{bundle.CreateProfesorRequiredMessage_email}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{profesorController.create}" value="#{bundle.CreateProfesorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{profesorController.prepareList}" value="#{bundle.CreateProfesorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateProfesorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
