<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProfesorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProfesorLabel_idProfesor}" for="idProfesor" />
                    <h:inputText id="idProfesor" value="#{profesorController.selected.idProfesor}" title="#{bundle.EditProfesorTitle_idProfesor}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_idProfesor}"/>
                    <h:outputLabel value="#{bundle.EditProfesorLabel_nombres}" for="nombres" />
                    <h:inputText id="nombres" value="#{profesorController.selected.nombres}" title="#{bundle.EditProfesorTitle_nombres}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_nombres}"/>
                    <h:outputLabel value="#{bundle.EditProfesorLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{profesorController.selected.apellidos}" title="#{bundle.EditProfesorTitle_apellidos}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_apellidos}"/>
                    <h:outputLabel value="#{bundle.EditProfesorLabel_i}" for="i" />
                    <h:inputText id="i" value="#{profesorController.selected.i}" title="#{bundle.EditProfesorTitle_i}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_i}"/>
                    <h:outputLabel value="#{bundle.EditProfesorLabel_direccion}" for="direccion" />
                    <h:inputText id="direccion" value="#{profesorController.selected.direccion}" title="#{bundle.EditProfesorTitle_direccion}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_direccion}"/>
                    <h:outputLabel value="#{bundle.EditProfesorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{profesorController.selected.email}" title="#{bundle.EditProfesorTitle_email}" required="true" requiredMessage="#{bundle.EditProfesorRequiredMessage_email}"/>
                </h:panelGrid>
                <h:commandLink action="#{profesorController.update}" value="#{bundle.EditProfesorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditProfesorViewLink}"/>
                <br />
                <h:commandLink action="#{profesorController.prepareList}" value="#{bundle.EditProfesorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProfesorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
