<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListProfesorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListProfesorEmpty}" rendered="#{profesorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{profesorController.items.rowCount > 0}">
                    <h:outputText value="#{profesorController.pagination.pageFirstItem + 1}..#{profesorController.pagination.pageLastItem + 1}/#{profesorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{profesorController.previous}" value="#{bundle.Previous} #{profesorController.pagination.pageSize}" rendered="#{profesorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{profesorController.next}" value="#{bundle.Next} #{profesorController.pagination.pageSize}" rendered="#{profesorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{profesorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProfesorTitle_idProfesor}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProfesor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProfesorTitle_nombres}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombres}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProfesorTitle_apellidos}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidos}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProfesorTitle_i}"/>
                            </f:facet>
                            <h:outputText value="#{item.i}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProfesorTitle_direccion}"/>
                            </f:facet>
                            <h:outputText value="#{item.direccion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProfesorTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{profesorController.prepareView}" value="#{bundle.ListProfesorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{profesorController.prepareEdit}" value="#{bundle.ListProfesorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{profesorController.destroy}" value="#{bundle.ListProfesorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{profesorController.prepareCreate}" value="#{bundle.ListProfesorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListProfesorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
