<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEstudianteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEstudianteLabel_idEstudiante}" for="idEstudiante" />
                    <h:inputText id="idEstudiante" value="#{estudianteController.selected.idEstudiante}" title="#{bundle.CreateEstudianteTitle_idEstudiante}" required="true" requiredMessage="#{bundle.CreateEstudianteRequiredMessage_idEstudiante}"/>
                    <h:outputLabel value="#{bundle.CreateEstudianteLabel_nombres}" for="nombres" />
                    <h:inputText id="nombres" value="#{estudianteController.selected.nombres}" title="#{bundle.CreateEstudianteTitle_nombres}" required="true" requiredMessage="#{bundle.CreateEstudianteRequiredMessage_nombres}"/>
                    <h:outputLabel value="#{bundle.CreateEstudianteLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{estudianteController.selected.apellidos}" title="#{bundle.CreateEstudianteTitle_apellidos}" required="true" requiredMessage="#{bundle.CreateEstudianteRequiredMessage_apellidos}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estudianteController.create}" value="#{bundle.CreateEstudianteSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{estudianteController.prepareList}" value="#{bundle.CreateEstudianteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEstudianteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
