<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEstudianteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEstudianteEmpty}" rendered="#{estudianteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{estudianteController.items.rowCount > 0}">
                    <h:outputText value="#{estudianteController.pagination.pageFirstItem + 1}..#{estudianteController.pagination.pageLastItem + 1}/#{estudianteController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{estudianteController.previous}" value="#{bundle.Previous} #{estudianteController.pagination.pageSize}" rendered="#{estudianteController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{estudianteController.next}" value="#{bundle.Next} #{estudianteController.pagination.pageSize}" rendered="#{estudianteController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{estudianteController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_idEstudiante}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEstudiante}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_nombres}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombres}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEstudianteTitle_apellidos}"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidos}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{estudianteController.prepareView}" value="#{bundle.ListEstudianteViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estudianteController.prepareEdit}" value="#{bundle.ListEstudianteEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{estudianteController.destroy}" value="#{bundle.ListEstudianteDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{estudianteController.prepareCreate}" value="#{bundle.ListEstudianteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEstudianteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
