<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEstudianteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEstudianteLabel_idEstudiante}"/>
                    <h:outputText value="#{estudianteController.selected.idEstudiante}" title="#{bundle.ViewEstudianteTitle_idEstudiante}"/>
                    <h:outputText value="#{bundle.ViewEstudianteLabel_nombres}"/>
                    <h:outputText value="#{estudianteController.selected.nombres}" title="#{bundle.ViewEstudianteTitle_nombres}"/>
                    <h:outputText value="#{bundle.ViewEstudianteLabel_apellidos}"/>
                    <h:outputText value="#{estudianteController.selected.apellidos}" title="#{bundle.ViewEstudianteTitle_apellidos}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{estudianteController.destroyAndView}" value="#{bundle.ViewEstudianteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEstudianteEditLink}"/>
                <br />
                <h:commandLink action="#{estudianteController.prepareCreate}" value="#{bundle.ViewEstudianteCreateLink}" />
                <br />
                <h:commandLink action="#{estudianteController.prepareList}" value="#{bundle.ViewEstudianteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEstudianteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
