<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUsuarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUsuarioLabel_idUsuario}"/>
                    <h:outputText value="#{usuarioController.selected.idUsuario}" title="#{bundle.ViewUsuarioTitle_idUsuario}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_nombresyApellidos}"/>
                    <h:outputText value="#{usuarioController.selected.nombresyApellidos}" title="#{bundle.ViewUsuarioTitle_nombresyApellidos}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_nombreUsuario}"/>
                    <h:outputText value="#{usuarioController.selected.nombreUsuario}" title="#{bundle.ViewUsuarioTitle_nombreUsuario}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_contraseña}"/>
                    <h:outputText value="#{usuarioController.selected.contraseña}" title="#{bundle.ViewUsuarioTitle_contraseña}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_tipoUsuario}"/>
                    <h:outputText value="#{usuarioController.selected.tipoUsuario}" title="#{bundle.ViewUsuarioTitle_tipoUsuario}"/>
                    <h:outputText value="#{bundle.ViewUsuarioLabel_correo}"/>
                    <h:outputText value="#{usuarioController.selected.correo}" title="#{bundle.ViewUsuarioTitle_correo}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usuarioController.destroyAndView}" value="#{bundle.ViewUsuarioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewUsuarioEditLink}"/>
                <br />
                <h:commandLink action="#{usuarioController.prepareCreate}" value="#{bundle.ViewUsuarioCreateLink}" />
                <br />
                <h:commandLink action="#{usuarioController.prepareList}" value="#{bundle.ViewUsuarioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewUsuarioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
