<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <center>
            <h1>UNIDAD EDUCATIVA HIDEYO NOGUCHI</h1>
            <h1>prueba</h1>

            <h:form> 
                <p:panelGrid id="grid" columns="2">
                    <p:outputLabel for="Usuario">Usuario:</p:outputLabel>
                    <p:inputText id="Usuario" size="20" required="true" requiredMessage="campo es obligatorio"/>
                    <p:outputLabel for="Contraseña">Contraseña:</p:outputLabel>
                    <p:password id="Contraseña" size="20" required="true" requiredMessage="campo es obligatorio"/>
                </p:panelGrid>

                <p:commandButton icon="ui-icon-key" value="Ingresar" action="Respuesta"/>
                <br>
                    <br>
                        <p:link value="crear cuenta" style="font-weight: bold"/>
                    </br>
                </br>
                <br>
                    <p:link value="¿olvidaste contraseña?" style="font-weight: bold"/>

                </br>
            </h:form>
        </center>

        <!--<br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />-->
        <br />
        <h:link outcome="/curso/List" value="Show All Curso Items"/>
        <br />
        <h:link outcome="/estudiante/List" value="Show All Estudiante Items"/>
        <br />
        <h:link outcome="/opciones/List" value="Show All Opciones Items"/>
        <br />
        <h:link outcome="/pregunta/List" value="Show All Pregunta Items"/>
        <br />
        <h:link outcome="/profesor/List" value="Show All Profesor Items"/>
        <br />
        <h:link outcome="/tema/List" value="Show All Tema Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
    </h:body>







</html>

