<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <br />
        <center>
            <img src="descarga.png" width="225" height="225" alt="descarga"/>


            <p:menu>
                <p:submenu label="Opciones">
                    <p:menuitem value="Juegos" url="https://www.mundoprimaria.com/juegos-educativos/juegos-matematicas" />
                    <p:menuitem value="Preguntas" url="http://www.primefaces.org/documentation.html" />
                    <p:menuitem value="Crucigrama" url="http://forum.primefaces.org/" />
                    <p:menuitem value="Tutotial" url="http://www.primefaces.org/themes.html" />

                </p:submenu>

            </p:menu>
        </center>

    </h:body>
</html>

